services:

  postgres:
    image: ${IMAGE_PROJECT_ANDUIN_ANDUIN_PG}
    env_file: 
      - .env
    environment:
      POSTGRES_USER: postgres
      POSTGRES_HOST_AUTH_METHOD: trust
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
      - ./examples:/examples

  dagster:
    image: ${IMAGE_PROJECT_ANDUIN_DAGSTER}
    env_file: 
      - .env
    volumes:
      - ./examples:/dagster/examples
    ports:
      - "3000:3000"
    # command: ["bash", "-c", "tail -f /dev/null"]
    # command: ["dagster", "dev",  "-h", "0.0.0.0", "-p", "3000", "-f", "/dagster/examples/001_hello_world/defs.py"]
    command: ["dagster-webserver", "--path-prefix", "/dagster", "-h", "0.0.0.0", "-p", "3000", "-f", "/dagster/examples/001_hello_world/defs.py"]


  dagster-daemon:
    image: ${IMAGE_PROJECT_ANDUIN_DAGSTER}
    # If using schedules or sensors or run-queue
    command: ["dagster-daemon", "run", "-f", "/dagster/examples/001_hello_world/defs.py"]
    env_file: 
      - .env
    volumes:
      - ./examples:/dagster/examples

  superset:
    image: ${IMAGE_PROJECT_ANDUIN_SUPERSET}
    env_file: 
      - .env
    container_name: superset
    environment:
      - PGPASSWORD=""
      - PGHOST=postgres
      - PGUSER=postgres
      - PGDATABASE=postgres
      - SUPERSET_APP_ROOT=/superset
    volumes:
      - superset_home:/app/superset_home
      - superset_init:/etc/superset/init
      - ./superset/superset_config.py:/app/superset_config.py
      - ./superset/custom_security_manager.py:/app/custom_security_manager.py
    ports:
      - "8088:8088"
    command: ["bash", "-c", "tail -f /dev/null"]

  auth-gateway:
    image: ${IMAGE_PROJECT_ANDUIN_AUTH_GATEWAY}
    env_file: 
      - .env
    volumes:
      - ./auth-gateway/controllers:/app/controllers
      - ./auth-gateway/lib:/app/lib
      - ./auth-gateway/client:/app/client
      - ./auth-gateway/index.js:/app/index.js
    environment:
      - PORT=4000
    ports:
      - "4000:4000"
    command: ["bash", "-c", "tail -f /dev/null"]

  cask:
    image: ${IMAGE_CASKFS_CASKFS}
    env_file: 
      - .env
    environment:
      - CASKFS_PG_HOST=postgres
      - CASKFS_ENABLE_POWERWASH=true
      - CASKFS_ROOT_DIR=/opt/cache
      - CASKFS_ACL_ENABLED=false
      - CASKFS_WEBAPP_PORT=3001
      - CASKFS_WEBAPP_ENV=dev
      - CASKFS_WEBAPP_PATH_PREFIX=/cask
    volumes:
      - caskfs_data:/opt/cache
    ports:
      - "3001:3001"


volumes:
  pg_data:
    driver: local
  superset_home:
    driver: local
  superset_init:
    driver: local
  caskfs_data:
    driver: local